
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
	pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    epaper_device: epaper_device@0 {
        compatible = "waveshare,epaper-spi-device";
        reg = <0>;
		spi-max-frequency = <4000000>;

        // --- Additional GPIOs defined here ---
        rst-gpios   = <&gpio0 13 GPIO_ACTIVE_LOW>;
        data-command-gpios    = <&gpio0 14 GPIO_ACTIVE_LOW>;
        busy-gpios  = <&gpio0 15 GPIO_ACTIVE_LOW>;
		chip-select-gpios  = <&gpio0 16 GPIO_ACTIVE_LOW>;
    };
};
