menu "Application Configuration"

source "Kconfig.zephyr"

config DEFAULT_DELAY
    int "Update interval (minutes)"
    default 2

config APN_DEFAULT_VALUE
    string "Description of the string option"
    default "onemondo"
    help
      This is a custom string configuration for the APN of SIM card used.

config DEVICE_ID
    int "Device ID of this device"
    default "0"
    help
      This is a custom string configuration for the device ID of this device.

rsource "src/cloud/Kconfig.cloud"

rsource "src/flash/Kconfig.flash"

endmenu
